.card{
    background: linear-gradient(white,white,#ff7300);
    padding: 20px;
}
.btnC{
    background-color: black;
    color: #ff7300;
    width: 60%;
    font-size: 20px;
    padding: 10px;
    font-weight: 100;
    border-radius: 20px;
}
.input{
    background-color: #f8f8f8;
    border-radius: 30px;
    padding: 10px;
}
.btn{
    margin: 0 auto;
}