<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">ACCUEIL</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">
        <h3 style="text-align: center; color: #FF9900;"></h3>
        <img alt="user" src="../../assets/images/accueil_image.png" style="width: 70%;"><br>
    </div>
</div>
<!-- <app-footer></app-footer> -->
</div>
